<%= link_to "New Animal", new_animal_path %>

<% @animals.each do |animal| %>
  <h1><%= link_to animal.name, animal_path(animal)  %>
    <%= link_to 'Edit', edit_animal_path(animal) %>
    <%= link_to 'Delete', animal_path(animal),
              method: :delete,
              data: {confirm: 'Are you sure you want to'\
                ' delete this animal?'} %></h1>
<% end %>
