<h1>Welcome to the Calculator App!</h1>

<h2>How to use the app</h2>

<p> MathFunction = the action (i.e multiply) you want the calculator to complete. <br>
Type the url adress: http://local:9393/MathFunction/number 1/number 2 </br> <br>For example, if you type "http://local:9393/add/5/2" the app will output "7"</br>
</p>