<h1> Hello friends!</h1>
<p>You can use this website to acquire the contact info of your classmates.</p> 
<p>Type: "/contacts" to display all contacts 
<p>or</p>
<p> "/contacts/:contact" to display a specific contact (where :contact is the name of the classmate)</p>