
body {
	text-align: center;
	background: #232323; 
	color: #bbbbbb;
}
h3 {
	font-size: 32px;
	color: white;
}
h1 {
	font-size: 45px;
	color: white;
	background: rgba(230,230,250,.1);
}
p {
	font-size: 20px;
}
