<p>Welcome to this sketch online phonebook.</p>
<a href="/contacts">To see all my contacts, click here</a>
<p>To make this have any use, you can find a phone number for a contact by utilizing the URL. For example, if you were to type /contacts/Sarah it would return to you Sarah's number.</p>