<h1>All About Tali!</h1>
<p>Hometown: Baltimore</p>
<p>School: Penn</p>
<p>Address: 216. Come visit :)</p>
<p>Some more intimate facts about me...</p>
<p style="padding-left: 10px;"><small>I want to learn code because I love to brainstorm app ideas, but hate not being able to do anything about these ideas on my own. By learning code, I hope to enable myself to create apps from start to finish, from idea generation to coded product.</p>
<p style="padding-left: 10px;"><small>In Cape Town, I'm most excited to go shark diving (but also incredibly terrified!)!</small></p>
<p style="padding-left: 10px;"><small>Others may not know that I spent a gap year between high school and college in Israel.</small></p>

<br/><a href="http://imgur.com/LSSxPTS"><img src="http://i.imgur.com/LSSxPTS.jpg?6" title="source: imgur.com" /></a>
<br/><a href="/">Return to Home page</a>
<br/><a href="/contact">Wanna contact me? :)</a>