<h1>Tali's Contact Info!</h1>
<p>Reach me in America: +001(443) 841-0599</p>
<p>Reach me in Africa: +27(071)-269-6193</p>
<p>tvogelstein@gmail.com OR talivog@wharton.upenn.edu</p>
<p>FOLLOW ME ON INSTAGRAM! @talivog</p>
<p>ALSO, FOLLOW MY 9 YR-OLD BROTHER ON INSTA SO HE CAN GO VIRAL! @lilfatjewish</p>
<p>LASTLY, FOLLOW REBECCA'S DOG ON INSTA! @cavapup_teddy</p>
<a href="http://imgur.com/LSSxPTS"><img src="http://i.imgur.com/LSSxPTS.jpg?6" title="source: imgur.com" /></a>
<br/><a href="https://www.facebook.com/tallliiii"><small>My Facebook Page</small></a>
<br/><a href="/">Return to Home page</a>
<br/><a href="/about">Find out about me!</a>
