<h1>Tali's Home Page!</h1>
<p>Hi, my name is Tali Meira Vogelstein.</p>
<p>My hometown is Baltimore, Maryland.</p>
<p>I wasn't feeling CSS yesterday...</p>

<br/><a href="http://imgur.com/LSSxPTS"><img src="http://i.imgur.com/LSSxPTS.jpg?6" title="source: imgur.com" /></a>

<br/><a href="/about">Find out about me!</a>
<br/><a href="/contact">Wanna contact me? :)</a>