<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>

<style>

h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 85px;
	letter-spacing: 1px;
	margin-bottom: 0px;
	margin-top: 0px;
}

body {
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

a:link { color: #000000; text-decoration: none}
a:visited { color: #000000; text-decoration: none}
a:hover { color: #3366CC; text-decoration: underline}
a:active { color: #000000; text-decoration: none}

</style>

<body>
	<h1><%= @restaurant %></h1>
	<p>Neighborhood: <%= @area %></p>
	<img src="<%= @img %>" width = "500"> 
	<p><a><%= link_to "| Back to List of Restaurants |", restaurants_path %></a></p>
</body>