
<!DOCTYPE html>
<html>

<head>
	<title>Done</title>
	<link href='/style2.css' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	
</head>

<body>

<h1> <%= "How did you do?" %> </h1>
<p class="end">If you answered atleast 9 questions on the first attempt, you deserve to be awarded a South African Citizenship, otherwise you must be excluded from future excursions!!!</p>

<h2 class="button"><a href = "home"><button><%="Home" %></button></a> </h2>
</body>


</html>