<!DOCTYPE html>
<html>

<body>
<ul>
	<li> ["Sababa", "Chalk & Cork", "Mezepoli", "Hudson's", "Rick's Café Americain", "Royale Eatery", "Old Biscuit Mill", "EarthFair Food Market", "Bay Harbour Market", "Vovo Telo", "Jason's Bakery", "Truth Coffee", "Saigon", "Umi", "Takumi Sushi"] </li>
</ul>

</body>
</html>