<h1> <%= "Thank you" %> </h1>
<p> If you scored above 9, we are awarding you South African Citizenship, and if you scored below 5, you are excluded from future excursions.
<h2> <a href = "home"><%="Home" %> </a> </h2>

<style>
    body {
      text-align: left;
      background: url("http://i.imgur.com/Dm5CWtG.jpg?1");
      background-size: cover;
      background-position: right;
      background-color: gold;
      color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-family: helvetica;
      font-size:60px

    }
</style>