<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<style>
body {
	text-align: center;
	background-color: rgba(255,218,185,1);
  font-family: 'Open Sans', sans-serif;
}
ul {
  padding: 10px;
  background: rgba(255,165,0,0.5);
}
 li {
  display: inline;
  padding: 0px 30px 0px 30px;
  font-size: 17px;
}
a:link {
    text-decoration: none;
}
a:link { 
  color: #000000; text-decoration: none
}
a:visited { 
  color: #000000; text-decoration: none
}
a:active { 
  color: #000000; text-decoration: none
}
a:hover {
    color: #FF00FF;
}
h1 {
  font-size: 50px;
}
</style>


<body>

<h1>About Me</h1>
<ul>
      <li><a href="http://localhost:9393/">Home</a></li>
      <li><a href="http://localhost:9393/aboutme">About Me</a></li>
      <li><a href="http://localhost:9393/contactme">Contact Me</a></li>
</ul>
<a href="http://imgur.com/1xhcyqH"><img src="http://i.imgur.com/1xhcyqH.jpg?1" title="source: imgur.com" width=700 /></a>

<h2>Background</h2>
<p>I grew up in Pasadena, California with my 2 parents, younger brother, and labradoodle Aussie. I'm now studying business in Charlottesville, VA at the University of Virginia.</p>

<h2>Interests</h2>
<p>I spend my free time cooking, eating chocolate, hiking, playing tennis, and travelling.</p>

</body
