
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


<style>
body {
	text-align: center;
	color: black;
  font-family: 'Open Sans', sans-serif;
}
header {
/*	background-color: rgba(255,218,185,1); 
*/
}
ul {
  padding: 10px;
  background: rgba(255,165,0,0.3);
}
 li {
  display: inline;
  padding: 0px 30px 0px 30px;
  font-size: 20px;
}
p {
  font-size: 18px;
}
h1 {
  font-size: 45px;
}

a:link {
    text-decoration: none;
}
a:link { 
  color: #000000; text-decoration: none
}
a:visited { 
  color: #000000; text-decoration: none
}
a:active { 
  color: #000000; text-decoration: none
}
a:hover {
    color: #FF00FF;
}
body {
  background-color: rgba(255,195,160,1); 
}

</style>

<body>

<header>
<h1>Hi, <br> My name is Emily Trojan</br></h1>

<a href="http://imgur.com/oeTpAR3"><img src="http://i.imgur.com/oeTpAR3.jpg?1" title="source: imgur.com" /></a>

<p> I was born and raised in Southern California and study at the Univeristy of Virginia</p>

<ul>
      <li><a href="http://localhost:9393/">Home</a></li>
      <li><a href="http://localhost:9393/aboutme">About Me</a></li>
      <li><a href="http://localhost:9393/contactme">Contact Me</a></li>
</ul>
</header>

</body>