<link href='http://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

<style>
h1 {
	font-family: 'Amatic SC', cursive;
	font-size: 90px;
	letter-spacing: 2px;
	text-align: left;
	color: white;
	margin-top: 6px;
	margin-left: 20px;
	margin-bottom: 0px;
}

body {
	background: url("http://www.checkouttravel.com/assets/images/geodata/92161.jpg");
	background-size: cover;
}

a:link { color: white; text-decoration: none}
a:visited { color: white; text-decoration: none}
a:hover { color: white; text-decoration: underline}
a:active { color: white; text-decoration: none}

p {
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	margin-left: 23px;
	letter-spacing: 2px;

}
</style>

<body>
<h1>Best Restaurants<br>Cape Town</br></h1>

<p><a><%= link_to "| See all Restaurants |", restaurants_path %></a></p>
</body>

