<head>
	<title>About Me</title>
	<style>
		body {
			background :url("http://www.epa.gov/greatlakes/image/vbig/444.jpg");
			background-size :cover;
			text-align: center;
			color: white;
		}
		h1{
			padding-top: 50px;
			font-size: 50px;
		}
		img {
			width: 40%;
			height: auto;
			display: center;
			padding: 0 0 50px 0;
		}
		p {
			text-align: center;
			color: white;
			font-size: 30px;
			border: rgba(0,0,0,.38);
		}
		li {
			display: inline;
			padding: 0 10px 0 0;
		}
		a {
			color: white;
			font-size: 30px;
		}
		.transparent {
			background-color: rgba(0,0,0,.5);
			display :center;
			width: 50%;
			margin: auto;
		}
	</style>
</head>
<div class="transparent">
<body>
<h1>This is a little about me</h1>
	<img src="http://www.hotelroomsearch.net/im/2015/02/detroit-michigan-1.jpg">
	<p>I was born on February 4th, 1993 in Detroit, MI,</p>
	<p>where I grew up in the local city of Troy</p>
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/16miletroy.jpg/250px-16miletroy.jpg">
	<p>I currently attend Wayne State University</p>
	<img src ="http://www.cs.wayne.edu/~zaki/LetterLogo.jpg">
	<ul>
		<li><a href="http://localhost:9393/">Home</a></li>
		<li><a href="http://localhost:9393/contacts">Contacts</a></li>
	</body>
	</div>

