<head>
	<title>Contacts</title>
		<style>
			body {
				text-aligh: center;
				background: url("https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/t31.0-8/11001593_10153447906375127_1544063631373961312_o.jpg");
				background-size: cover;
			}
			h1 { 
				text-align: center;
				font-size: 50px;
				color: white;
				padding-top: 300px;
			}
			li {
				text-align: center;
				font-size: 30px;
				color: white;
				display: block;
			}
			a {
				color: white;
			}
		</style>
		</head>

<body>
<h1>Find me on social media too!</h1>
<ul>
	<li><span><a href="https://www.facebook.com/richardlin3">Facebook</a></span></li>
	<li><span><a href="https://instagram.com/ricky_lin/">Instagram</a></span></li>
	<li><span><a href="https://richardlin3.tumblr.com/">Tumblr</a></span></li>
	<li><small><a href="http://localhost:9393/">Home</a></small></li>
	<li><small><a href="http://localhost:9393/about_me">About Me</a></small></li>
</ul>
</body>
