<head>
	<title>Richard Lin</title>
	<style>
		body {
			text-align: center;
			background: url("https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xtf1/t31.0-8/11415526_10153446741960127_219756525093074016_o.jpg");
			background-size: cover;
			color: white;
		}
		img {
			margin: 50px 0px 0px 0px;
			border: 7px solid white;
			border-radius: 20px;
			width: 20%;
			height: auto;
		}
		h1 {
			font-size: 60px;
			color: white;
		}
		p {
			font-size: 44px;
			color: white;
		}
		li {
			display: center;
			display: inline;
			padding: 0px  10px 0px 10px;
			font-size: 30px;
		}
		a {
			color: white;
		}
	</style>
</head>

<body>
	<img src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xfa1/t31.0-8/11393394_10153439848560127_550189313629077084_o.jpg">
	<h1>Hi! I'm Richard</h1>
		<p>Welcome to my webpage</p>
		<p>Use the links below to find out more about me! </p>
			<ul>
				<li><a href="http://localhost:9393/about_me">About Me</a></li>
				<li><a href="http://localhost:9393/contacts">Contacts</a></li>
			</ul>

</body>
	
