<h1>Welcome to the calculator app</h1>
<p>From here, a few simple actions can be performed: addition, subtraction, multiplication, division, and exponentiation.</p>

<p>Everything is done in the URL. Everything can be done by using the keywords add, subtract, multiply, divide, and exponent.</p>

<p>For example, to add (or subtract) 7 and 4, you would use /add/7/4 (or /subtract/7/4). </p>

<p>To multiply 7 and 4, you would use /multiply/7/4 and to divide 7 by 4 you would use /divide/7/4). </p>

