<head>
	<style>
		body {
			font-family: helvetica, sans-serif;
  			margin: 0 auto;
 			max-width: 600px;
  			background: url("http://img.gawkerassets.com/img/17giry8tqnwogjpg/original.jpg");
  			color: #F00;	
  			-webkit-text-stroke-width: 1px;
  		    -webkit-text-stroke-color: black;
		}
	</style>
</head>

<body>
<h1> This is a badass calculator </h1>
<h1> 
Like all badass calculators, this calculator adds, multiplies, subtracts, divides, and computes exponents.
</h1>
<h2>
To use this badass calculator choose two numbers you would like to experiment with (x and Y) and visit http://localhost:9393/ followed by one of the following:
</h2>

<h2>To add: add/x/y</h2>
<h2>To subtract: subtract/x/y</h2>
<h2>To multiply: multiply/x/y</h2>
<h2>To divide: divide/x/y</h2>
<h2>To take exponents: exponent/x/y</h2>


<h1>
Enjoy this badass calculator
</h1>

</body>