<head>
<style>
.facebook {
	position: relative;
	bottom: -130px;
	right: 0px;
}
.linkedIn {
	position: relative;
	bottom: 150px;
	right: 210px;
}
.tinder {
	position: relative;
	bottom: 320px;
	right: -230px;
}
body {
	text-align: center;
	background: url("http://www.thisiscolossal.com/wp-content/uploads/2011/10/bubble-3-600x786.jpg");
  	background-size: 50%;
  	position: relative;
  	background-position: no-repeat;
}
</style>
</head>
<body>
	<h1> Contact Information </h1>
	<h2> email: aortiz2@stanford.edu <h/2>
	<h3> cell: 818-808-2263 </h3>
	<div class="facebook">
		<a href="http://www.facebook.com/alec.ortiz.54"><img src="http://www.carrigalinehairstudio.com/wp-content/uploads/2014/01/facebook-logo-png-transparent-background-i2.png" HEIGHT = 250 WIDTH = 320>
	</div>
	<div class="linkedIn">
		<a href="https://www.linkedin.com/profile/view?id=317265283&trk=nav_responsive_tab_profile_pic"><img src="http://www.ucalgary.ca/careers/files/careers/images/Linkedin_logo.png" HEIGHT = 160 WIDTH = 160>
	</div>
	<div class="tinder">
		<a href="https://www.youtube.com/watch?v=7hUPQ19aYuE"><img src="http://lancenewman.me/wp-content/uploads/2014/10/tinder-mobile-app-logo.png" HEIGHT= 180 WIDTH= 180>
	</div>
</body>