<head>
	<style>
		body {
  			font-family: helvetica, sans-serif;
 			margin: 0 auto;
 		    max-width: 600px;
  			background: url("http://www.thisiscolossal.com/wp-content/uploads/2012/04/heinz-maier-splash-2011.jpg");
  			background-size: cover;
  			position: relative;
  			top: 500px;
       }
div {
  height: 300px;
  background: url("http://www.thisiscolossal.com/wp-content/uploads/2012/04/heinz-maier-splash-2011.jpg");
  background-size: cover;
  position: relative;
  margin: 30px 0 0 0;
  border-radius: 12px;
}
h1 {
  font-family: 'Impact', cursive;
  text-align: center;
  font-size: 75px;
  color: #F00;
  margin: 60px 0 0 0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: orange;
}
h2 {
  text-align: center;
  color: #bbbbbb;
  margin: 0px 0 70px 0;
}
p {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

.first{
  background-image: url("https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/11008523_10206709636089880_7579788384117344212_n.jpg?oh=595474d0b956cfad2bbfa5abb48e14b1&oe=563497F2&__gda__=1445456013_deb39041c82c915f75eca6ec66789e31");
  width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	position: relative;
	left: -50px;
	border: 10px solid orange;
}
.second{
  background-image: url("http://www.thisiscolossal.com/wp-content/uploads/2012/04/sammiches.jpg");
    width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	position: relative;
	left: 400px;
	top: -100px;
	border: 10px solid orange;

}
.third{
  background-image: url("https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/10386820_10205004732865547_5942864226674672599_n.jpg?oh=f7445d745caa6a2380ab08c6ee9c9797&oe=563536E4&__gda__=1445168649_87d26126a77233e373a6e2346e635376");
    width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	position: relative;
	background-position: 480 600;
	left: 400px;
	top: -50;
	border: 10px solid orange;
}
.me{
	background-image: url("https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11072054_875247139183253_5556724672247997635_n.jpg?oh=eca1984599646638a49e5355e9acea84&oe=55F3F936");
    width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	position: relative;
	background-position: 500 600;
	top: -500px;
	left: 0px;
	border: 10px solid orange;
}
.hike {
	background-image: url("https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/p206x206/1239491_634185639934822_1552761077_n.jpg?oh=b4e71b908a8af4bddc4a41b179319857&oe=5622E385");
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	position: relative;
	background-position: 500 600;
	top: -500px;
	left: 60px;
	border: 10px solid orange;
}
p {
	position: relative;
	left: 0px;
	top: 150px;
	border-radius: 100px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}
.alec {
	text-align: center;
}
</style>

</head>

<body>
<h1>Alec's Domain</h1>
<a href="http://localhost:9393/about"><div class="first">
<p>About Me <span class="alec"> - Alec</span><br />
</div>

<a href="http://localhost:9393/contacts"><div class="second">
<p>Contacts <span class="alec"> - Alec</span><br />
</div>
  
<a href="https://www.facebook.com/photo.php?fbid=10205004732865547&set=t.1458819866&type=3&theater"><div class="third">
<p>Cliff Jumping <span class="alec"> - Malibu</span><br />
</div>

<a href="https://www.facebook.com/photo.php?fbid=875247139183253&set=t.1458819866&type=3&theater4"><div class="me">
<p>River Conquering <span class="alec"> - Zion</span><br />
</div>

<a href="https://www.facebook.com/photo.php?fbid=634185639934822&set=t.1458819866&type=3&theater"><div class="hike">
<p>Waterfalling <span class="alec"> - Big Sur</span><br />
</div>

</body>
