<head>
	<title>Annelie Herrman: Info</title>
	<style>
		body{
		    text-align: center;
		    background: url("https://scontent-ord1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/1919656_704115969676186_3178124078943524743_n.jpg?oh=a30fda2e8160ffd4d7ce4f43ad8ad441&oe=55FC182D");
		    background-size: cover;
		    background-position: center;
		    color: white;
		}
		h1{
			font-size: 70px;
			text-align: center;
	      	color: white;
	      	font-family: papyrus;
	      	margin-bottom: -20px;
		}
		h2{
			font-size: 12px;
		}
		img{
			border: 15px double rgba(50,120,60,1);
     		border-radius: 20px
		}
		ul{
	    	padding: 0px 10px 0px 0px;
	    	text-align: center
	    }
	    li{
	    	display: inline;
	    	padding: 0 10px 0 10px;
	    }
	    a{
	    	color: white;
		}
		p{
			font-size: 20px;
		    padding: 0px;
		    line-height: 40px;
		    padding: 20;
		    line-height: 1.4;
		    color: #82CAFA;
			background: rgba(50,120,60,0.5);
		}
	</style>
</head>

<body>
	<img src = "https://scontent-ord1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10336700_815766895177759_2048472498683530994_n.jpg?oh=962e8d7a65013d5e679581499ca9ca9e&oe=55FC1F97" width=190>
	<h2>Annelie Herrmann</h2>
	<h1>About</h1>
	<ul>
		<li><a href='/'>Home Page</a></li>
		<li><a href='/contact'>Contact Information</a></li>
	</ul>
	<p>Hi! I'm Annelie. I study Biomechanical Engineering at Harvard University, where I also serve on Crimson EMS as an EMT. I love music and love to sing and play piano, and I have an unhealthy obsession with the Rocky Horror Picture Show. I also have a love of robotics and all things mechanical and can spend hours in a machine shop making parts. I get lost in fiction easily, especially the complex stuff like Game of Thrones (and embarrassingly enough, Dungeons and Dragons). Running and hiking make me happy in so many ways, mostly because both allow me to see beautiful things. And who doesn't love beautiful things...? I'd love to one day travel the world and through-hike the Appalachian trail. Currently I'm honing [see: gaining] my coding skills in Cape Town, South Africa, with i_Xperience.</p>
</body>