<head>
	<title>Annelie Herrmann: Contact</title>
	<style>
		body{
		      text-align: center;
		      background: url("https://scontent-ord1-1.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/1919656_704115969676186_3178124078943524743_n.jpg?oh=a30fda2e8160ffd4d7ce4f43ad8ad441&oe=55FC182D");
		      background-size: cover;
		      background-position: center;
		      color: white;
		}
		h1{
			font-size: 70px;
			text-align: center;
	      	color: white;
	      	font-family: papyrus;
	      	margin-bottom: 0px;
		}
		h2{
			font-size: 12px;
		}
		img{
			border: 15px double rgba(50,120,60,1);
     		border-radius: 20px
		}
		ul{
	    	padding: 0px 10px 0px 0px;
	    	text-align: center
	    }
	    #first li{
	    	display: inline;
	    	padding: 0 10px 0 10px;
	    }
	    #first a{
	    	color: white;
		}
		#second li{
			font-size: 20px;
		    padding: 0px;
		    line-height: 40px;
		    margin-top: 0px;
		}
		#second a{
			color: #82CAFA;
			background: rgba(50,120,60,0.5);
		}
		p{
			font-size: 20px;
		    padding: 0px;
		    line-height: 40px;
		    margin-top: 0px;
		    line-height: 1.4;
		}
		span{
			color: #82CAFA;
			background: rgba(50,120,60,0.5);
		}
	</style>
</head>

<body>
	<img src = "https://scontent-ord1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10336700_815766895177759_2048472498683530994_n.jpg?oh=962e8d7a65013d5e679581499ca9ca9e&oe=55FC1F97" width=190>
	<h2>Annelie Herrmann</h2>
	<h1>Contact Info</h1>
	<ul id = "first">
		<li><a href='/'>Home Page</a></li>
		<li><a href='/about'>More info</a></li>
	</ul>
	<ul id = "second">
		<li><a href='https://www.facebook.com/annelie.herrmann'>Facebook</a></li>
		<li><a href='https://gmail.com'>aherrmann@college.harvard.edu</a></li>
	</ul>
	<p><span>Address: </br>
	20116 Springwood</br>
	Northville, MI 48167 </br>
	USA
	</span></p>

</body>