<!-- views/index_contact.erb -->
<hink href='/style.css' rel='stylesheet' type='text/css' />

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/icon.ico">

  <title>Praise Ndebele</title>

  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>

  <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/cover3.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  
  <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <div class="masthead clearfix">

            <div class="inner">
              <h3 class="masthead-brand">Contacts</h3>        
            </div>

            <div class="navigation">
              <nav> 
                <ul class="nav masthead-nav">
                  <li ><a href="home">HOME</a></li>
                  <li ><a href="about">ABOUT</a></li>
                  <li class="active"><a href="#">CONTACT</a></li>
                </ul>
              </nav>
            </div>

          </div>
       

          <div class="inner-cover">
            <!-- <h1 class="cover-heading"></h1> -->
            <h2>I can be reached at any of the following:</h2>
            <h1 class="lead"> Cellphone     : 071 711 2899</br> Email: <a href="mailto:NDBPRA001@myuct.ac.za">NDBPRA001@myuct.ac.za</a><br/> linkedin     : <a href="http://www.linkedin.com/home?trk=nav_responsive_tab_home">Praise Ndebele</a><br/> facebook     : <a href="https://www.facebook.com/praise.ndebele">Praise Ndebele</a></h1>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Design by <a href="http://localhost:9393/">Praise Ndebele</a> using skills learnt from<a href="http://ixperience.co.za/"> iXperience</a> (thus far!).</p>
            </div>
          </div>

        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>


