body  {
  background:url(http://i.imgur.com/gBWMsVe.jpg) 
  center no-repeat; 
  background-attachment:fixed;
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  color: white;
  
  }
  
input {
      border: 0;
      padding: 10px;
      font-size: 22px;
      font-family: 'Gochi Hand', cursive;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
    input[type="submit"]:hover {
      background: white;
      color: red;
    }
  
h1{
  margin: 0;
  font-color: red;
  font-size: 25vh

  
}
h2{
  font-size: 3.5vh
}
div{
  word-wrap: break-word;
}

.outer {
  width: 1280px;
  height: 960px;
  margin:0 auto; 
  display: table-cell;    
  vertical-align: middle;
  
  
}
.inner1 {
    display: block;
    text-align: center;
    width: 800px;
    height: 400px;
    margin: 0px auto;
}

.inner2 {
    display: block;
    text-align: center;
    width: 800px;
    height: 280px;
    margin: 0px auto;
}
a:link{
   /*font-style: italic;*/
   text-decoration: none;
   
}
a:hover{
   background-color: white;
   text-decoration: none;
}
