
    body {
      text-align: center;
      background: url(http://upload.wikimedia.org/wikipedia/commons/6/68/Phila_skyline.jpg);
      background-size: cover;
      background-position: center;
      color: white;
       font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
      font-style: normal; 
      color: black; 
      font-size: 24px;
      font-variant: normal; 
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
    .intro{ 
      font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
      font-style: normal; 
      color: black; 
      font-size: 24px;
      font-variant: normal; 
    }
    img{
      border-radius: 50px; 
      height: 200px; 
    }
    div {
    height: 200px; 
    background: #B0C4DE; 
    background-size: cover; 
    margin: 40px 0 0 0; 
    border-radius: 12px; 
    opacity: .85; 
    }  