<!DOCTYPE html>
<head>
  <title>Josh Broomberg</title>
  <link href='https://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
<style>
	body  {
  background:url(http://i.imgur.com/gBWMsVe.jpg) 
  center no-repeat; 
  background-attachment:fixed;
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  color: white;
  
  }
  
input {
      border: 0;
      padding: 10px;
      font-size: 22px;
      font-family: 'Gochi Hand', cursive;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
    input[type="submit"]:hover {
      background: white;
      color: red;
    }
  
h1{
  margin: 0;
  font-color: red;
  font-size: 25vh;

  
}
h2{
  font-size: 3.5vh;
}
div{
  word-wrap: break-word;
}

.outer {
  width: 1280px;
  height: 960px;
  margin:0 auto; 
  display: table-cell;    
  vertical-align: middle;
  
  
}
.inner1 {
    display: block;
    text-align: center;
    width: 800px;
    height: 400px;
    margin: 0px auto;
}

.inner2 {
    display: block;
    text-align: center;
    width: 800px;
    height: 280px;
    margin: 0px auto;
}
a:link{
   /*font-style: italic;*/
   text-decoration: none;
   
}
a:hover{

   text-decoration: none;
}

#nav_link:hover{
   font-size: 58px;
   text-decoration: none;
}
#about_link:visited{
   color: white;
}
#about_link{
   color: white;
}

#about_link:hover{
   color: red;
}


.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: rgba(0,0,0,0.3);
}

ul li {
    display: inline;
    float: center;
    line-height: 35px;
}
li{
	margin: 0px 100px;
	font-size: 35px;
   
}

</style>
</head>

<nav class="fixed-nav-bar">
  <ul>
  	<li>
  		<a id="nav_link" href="http://localhost:9393/"> <span style="color:#FFFFFF">HOME<span></a>
  	</li>
  	<li>
  		<a  id="nav_link" href="http://localhost:9393/about"> <span style="color:#FFFFFF">ABOUT<span></a>
  	</li>
  	<li>
  		<a id="nav_link" href="http://localhost:9393/contact"> <span style="color:#FFFFFF">CONTACT<span></a>
  	</li>
  </ul>
</nav>




<div class="outer" >
<div class="inner1">
<h1><b>JMB</b></h1>
</div>
</div>

</br>

<div class="outer">

<div class="inner2">
<p><h2>
----------------------------------------------------------------------
</br>My name is Josh Broomberg. I am a student, an aspiring entrepreneur, and an avid coder.</br></br>While I will always be a 'joburger' at heart, I live in Cape Town and study at <a href="http://www.uct.ac.za/"> <span style="color:#EEEE00">UCT<span></a>. <a id="about_link" href="http://localhost:9393/about#studies"> More about my studies..?</a> &nbsp;As far as interests go; I really love to code, in fact, I love all things tech. <a id="about_link" href="http://localhost:9393/about#studies"> More about my coding..?</a>&nbsp;My other passion is debating, which I particpated in at a national level. <a id="about_link" href="http://localhost:9393/about#studies"> More about my debating..?</a></br></br>Feel free to explore using the navigation bar, or the links in the paragraph above. Alternately, <a id="about_link" href="http://localhost:9393/contact"> click to get in touch with me now.</a> </br>----------------------------------------------------------------------</br>
</h2></p> 
</div>
</div>