<head>
	<style>
		body {
			font-family: helvetica, sans-serif;
  			margin: 0 auto;
 			max-width: 600px;
  			background: #232323;
		}
	</style>
</head>

<body>
<h1> This is a badass calculator </h1>
<p> 
Like all badass calculators, this calculator adds, multiplies, subtracts, divides, and computes exponents.
</p>
<h3>
To use this badass calculator choose two numbers you would like to experiment with (x and Y) and visit http://localhost:9393/ followed by one of the following:
</h3>

<h4>
To add: add/x/y
To subtract: subtract/x/y
To multiply: multiply/x/y
To divide: divide/x/y
To take exponents: exponent/x/y
</h4>

<h5>
Enjoy this badass calculator
</h5>

</body>