  <ul>
 	<li><a href="/">Home</a></li>
 	<li><a href="/about">About</a></li>
 	<li><a href="/contact">Contact</a></li>
 </ul>


 <h1>Contact Me!</h1>

 <p>Hey guys, feel free to contact me in any way, shape, or form</p>

<ul> 
	<li>Physical Address: 36 Middle Road Hamden, CT</li>
	<li>Email: christopher.cahill@aol.com</li>
	<li><a href="https://www.facebook.com/chriscahill24">Facebook</a></li>
	<li><a href="https://www.linkedin.com/profile/view?id=380363426&trk=hp-identity-name">LinkedIn</a></li>
</ul>

