<style>
    body {
      text-align: center;
      background: url(http://upload.wikimedia.org/wikipedia/commons/6/68/Phila_skyline.jpg);
      background-size: cover;
      background-position: center;
      color: white;
       font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
      font-style: normal; 
      color: black; 
      font-size: 24px;
      font-variant: normal; 
    }
    .intro{ 
      font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
      font-style: normal; 
      color: black; 
      font-size: 24px;
      font-variant: normal; 
    }
    img{
      border-radius: 50px; 
      height: 200px; 
    }
    div {
    background: #B0C4DE; 
    background-size: cover; 
    margin: 40px 0 0 0; 
    border-radius: 12px; 
    opacity: .85; 
    }  
    .title{ 
    	display: inline;
		list-style-type: none;
		padding-right: 20px;
    }
    ul{ 
    	list-style: none; 
    }
  </style>

<ul>
 	<li class="title"><a href="/">Home</a></li>
 	<li class="title"><a href="/about">About</a></li>
 	<li class="title"><a href="/contact">Contact</a></li>
</ul>

<div>
 	<h1>Contact Me!</h1>
</div> 
 
<ul class="contact"> 
	<li>Phone Number: 203-907-6036 in the States ;)</li>
	<li>Email: christopher.cahill@aol.com</li>
	<li><a href="https://www.facebook.com/chriscahill24">Facebook</a></li>
	<li><a href="https://www.linkedin.com/profile/view?id=380363426&trk=hp-identity-name">LinkedIn</a></li>
</ul>

