
<style>
	background: url("http://36.media.tumblr.com/f83cc67606b2721277cf0ef3e374145f/tumblr_n69amjLIJ11sl73dxo9_r1_500.jpg")
</style>

<h1>Hi, I'm Emily Trojan</h1>

<a href="http://imgur.com/oeTpAR3"><img src="http://i.imgur.com/oeTpAR3.jpg?1" title="source: imgur.com" /></a>

<p>I am a junior at the University from Virginia and a California Native</p>


