<h1>About</h1>
<img src="https://pbs.twimg.com/profile_images/1536516671/ricefield_edit_400x400.jpg">
<p1>INTERESTS: traveling, eating, reading, social entrepreneurship, sleeping, basketball, hockey, concerts.</p1>
<p2>EDUCATION: UVa, 2017, Global Development Studies</p2>
<a href="/contact">Contact me!</a>
