<!DOCTYPE html>
<head>
<link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/style.css">
  <title>Sammy Gonzales-Luna</title>
</head>
<body>
  <h1><span>Sammy Gonzales-Luna</span></h1>
  <div class="circular"></div>
  <br>
  <h1><span>About Me</span></h1>
  <p><span>Houston, TX<br>Currently in Cape Town, South Africa<br>Princeton University Class of 2016<br></span></p>
  <p style="background: black;">I am a 21 year old music festival fanatic from Houston, TX (see the pug tank top above)<br> and I'm more seriously interested in several other areas (I'll list a few):</P>
  <ul style="background: black;">
    <li>Baseball (I play in college!).</li>
    <li>Any Natural Science (I study Chemical and Biological Engineering).</li>
    <li>Many social sciences (Admittedly, I know far less about these).</li>
    <li>Breakfast - it is by far the best meal of the day in my opinion.</li>
    <li>Medicine - I especially love companies that innovate in the market for prosthetics and other medical devices.</li>
    <li>Snowboarding, fishing, and smiling.</li>
  </ul>
  <p><span>[and the list goes on...]</span></p>
  <br>
  <p><span>Why am I stoked to learn how to code in Cape Town?</span></p>
  <p style="background: black;"> Because learning to code boldy faces the unknown and makes the statement that "Anything is possible."<br> What's more is that in Cape Town I know the people at iXperience will be right there with me to inspire, support and bring the process to life. PS I can't wait to go sandboarding in South Africa!</p>
   <br>
  <ul>
    <li class="links"><a href="http://localhost:9393/home"><span>[Home]</span></a></li>
    <li class="links"><a href="http://localhost:9393/about"><span>[About Me]</span></a></li>
    <li class="links"><a href="http://localhost:9393/contact"><span>[Contact]</span></a></li>
  </ul>
  <br>
</body>