<!DOCTYPE html>
<head>
<link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/style.css">
  <title>Sammy Gonzales-Luna</title>
</head>
<body>
  <h1><span>Sammy Gonzales-Luna</span></h1>
  <div class="circular"></div>
  <br>
  <p><span>Houston, TX<br>Currently in Cape Town, South Africa<br>Princeton University Class of 2016<br></span></p>
  <br>
  <ul>
    <li class="links"><a href="http://localhost:9393/home"><span>[Home]</span></a></li>
    <li class="links"><a href="http://localhost:9393/about"><span>[About Me]</span></a></li>
    <li class="links"><a href="http://localhost:9393/contact"><span>[Contact]</span></a></li>
  </ul>
  <br>
</body>