<!-- /views/each.erb -->
<h1> <%= @name%>'s contacts</h1>

<h2>Phone number : <%= @number%></h2>

<p><a href ="http://localhost:9393/">Home</a> | <a href ="http://localhost:9393/contacts">Contacts list</a></p>