<style>
body {
	text-align: center;
	background-color: rgba(255,218,185,1);
}
ul {
  padding: 10px;
  background: rgba(255,165,0,0.5);
}
 li {
  display: inline;
  padding: 0px 10px 0px 10px;
  color: white;
}
</style>


<body>

<h1>About Me</h1>
<ul>
      <li><a href="http://localhost:9393/">Home</a></li>
      <li><a href="http://localhost:9393/aboutme">About Me</a></li>
      <li><a href="http://localhost:9393/contactme">Contact Me</a></li>
</ul>
<a href="http://imgur.com/1xhcyqH"><img src="http://i.imgur.com/1xhcyqH.jpg?1" title="source: imgur.com" width=800 /></a>

<h2>Background</h2>
<p>I was born and raised in Pasadena, California. I am now 20 and studying business at the Mcintyre School of Commerce at the University of Virginia.</p>

<h2>Interests</h2>
<p>I love food, especially chocolate, hiking, playing tennis and travelling.</p>

</body
