<style>

body {
	text-align: center;
	background-color: rgba(255,218,185,1);
}

h1 {
	font-size: 50px;
}
ul {
  padding: 10px;
  background: rgba(255,165,0,0.5);
}
 li {
  display: inline;
  padding: 0px 10px 0px 10px;
  color: white;
}

</style>

<body>
<h1>Contact Me</h1>

<ul>
      <li><a href="http://localhost:9393/">Home</a></li>
      <li><a href="http://localhost:9393/aboutme">About Me</a></li>
      <li><a href="http://localhost:9393/contactme">Contact Me</a></li>
</ul>

<h2>Email Adress</h2>
<p>emt2cy@virginia.edu</p>

<h2>Phone Number</h2>
<p>818-640-3645</p>

<h2>Address</h2>
<p>5178 La Canada Blvd, La Canada CA 91011</p>
</body>