
<style>
body {
	text-align: center;
	color: black;
}
header {
	background-color: rgba(255,218,185,1);
}
ul {
  padding: 10px;
  background: rgba(255,165,0,0.5);
}
 li {
  display: inline;
  padding: 0px 10px 0px 10px;
  color: white;
}

</style>

<body>

<header>
<h1>Hi! I'm Emily Trojan</h1>

<a href="http://imgur.com/oeTpAR3"><img src="http://i.imgur.com/oeTpAR3.jpg?1" title="source: imgur.com" /></a>

<p> I am a student at the University of Virginia born and raised in Southern California </p>

<ul>
      <li><a href="http://localhost:9393/">Home</a></li>
      <li><a href="http://localhost:9393/aboutme">About Me</a></li>
      <li><a href="http://localhost:9393/contactme">Contact Me</a></li>
</ul>
</header>

</body>